html, body {
  overflow-x: hidden;
  height: auto;
  min-height: 100%;
}

html {
  scroll-behavior: auto !important;
}

body {
  overscroll-behavior: none;
}

::-webkit-scrollbar {
  display: none;
}

html {
  scrollbar-width: none; /* Firefox */
}

/* Tailwind */
@import "tailwindcss";

@layer base {
  body {
    font-family: "Poppins", sans-serif;
  }
}

.animate__delay-2_5s {
  animation-delay: 2.5s !important;
}

.animate__delay-3_5s {
  animation-delay: 3.5s !important;
}