html, body {
  overflow-x: hidden;
  height: auto;
  min-height: 100%;
}

html {
  scroll-behavior: auto !important;
}

body {
  overscroll-behavior: none;
}

::-webkit-scrollbar {
  display: none;
}

html {
  scrollbar-width: none; /* Firefox */
}

/* Tailwind */
@import "tailwindcss";

@layer base {
  body {
    font-family: "Poppins", sans-serif;
  }
}
